@use "./../abstract/variable" as var;

header{
    background-color: var.$primary-color;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 128px 8px;
        border-bottom: 4px solid var.$danger-color;
        a{
            img{
                height: 150px;
            }
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                padding: 8px 16px;
                a{
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    color: white;
                    transition: 0.2s;
                    &:hover{
                        color: var.$danger-color;
                    }
                }
            }
        }
    }
    .active{
        color: var.$danger-color;
    }
}